
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
    padding-bottom: 60px;
    width: 100%;
    height: auto;
  }
  
  .pagination a {
    padding: 10px;
    border: 1px solid #007BFF;
    color: #007BFF !important;
  }
  
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: #fff !important;
    background: #007BFF;
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }